h1 {
    margin: 0;
}

body {
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

section {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
}

header {
    background-color: red;
}

p {
    background-color: rgb(124, 172, 220);
    margin: 0;
}

.aside-left {
    background-color: green;
}

.aside-right {
    background-color: rgb(225, 115, 172);
}

footer {
    background-color: blueviolet;
    font-size: 20px;
}

@media all and (min-width: 992px) {
	section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .aside-left {
        flex-basis: 15%;
        order: 1;
    }

    p {
        flex-basis: 70%;
        order: 2;
    }

    .aside-right {
        flex-basis: 15%;
        order: 3;
    }

    p, .aside-left, .aside-right {
        height: 300px;
    }

    footer {
		flex-basis: 100%;
	}
}

@media all and (min-width: 768px) and (max-width: 992px) {
    section {
        flex-wrap: wrap;
	}

    p {
        flex-basis: 80%;
        order: 1;
    }

    .aside-right {
        flex-basis: 20%;
        order: 2;
    }

    .aside-left {
        flex-basis: 100%;
        order: 3;
    }

    p, .aside-left, .aside-right {
        height: 300px;
    }
}

@media all and (max-width: 768px) {
    section {
        flex-direction: column;
        height: 500px;
    }
    
    p {
        flex-basis: 33.33%;
		order: 1;
	}

    .aside-left {
        flex-basis: 33.33%;
        order: 2;
    }

    .aside-right {
        flex-basis: 33.33%;
        order: 3;
    }
}
