h1 {
    margin: 0;
}

body {
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

section {
    display: flex;
    height: 300px;
    font-size: 20px;
    flex-wrap: wrap;
}

header {
    background-color: red;
}

p {
    background-color: rgb(124, 172, 220);
    margin: 0;
}

.aside-left {
    background-color: green;
}

.aside-right {
    background-color: rgb(225, 115, 172);
}

footer {
    background-color: blueviolet;
    font-size: 20px;
}

@media all and (min-width: 992px) {
	section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    p {
        order: 2;
        flex: 100%;
    }

    .aside-left {
        order: 1;
        flex: 100%;
    }

    .aside-right {
        order: 3;
        flex: 100%;
    }

    footer {
		width: 100%;
	}
}

@media all and (min-width: 768px) and (max-width: 992px) {
    section {
        flex-direction: row;
        flex-wrap: wrap;
	}
    p {
        order: 2;
        flex-basis: 100%;
    }
    .aside-left {
        order: 1;
        flex-basis: 100%;
    }
    .aside-right {
        order: 3;
        flex-basis: 100%;
    }
}

@media all and (max-width: 768px) {
	p {
		order: -2;
	}
    
    p, .aside-left, .aside-right {
        flex: 33%;
    }

    }
    section {
        flex-direction: column;
    }

    footer {
        width: 100%;
    }
}